<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KJMena</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
</head>

<body>
    <header class="bg-violeta text-center text-white py-3 d-flex justify-content-between align-items-center px-4">
        <h1>KJMena</h1>
    </header>

    <section class="intro d-flex justify-content-center align-items-center text-center">
        <div>
            <h1 class="display-3">Bienvenido a KJMena</h1>
            <p id="titulo">Tu tienda de confianza</p>
        </div>
    </section>

    <section class="container my-4" id="contenedor">


            <button class="btn-carrito" @click="irCarrito">
                🛒 Carrito <span class="badge bg-danger">{{ totalArticulos }}</span>
            </button>
            
        
        
        <div class="text-center mb-4">
            <input type="text" class="form-control w-50 mx-auto" placeholder="Buscar productos..." v-model="terminoBusqueda">
            <select class="form-select w-50 mx-auto my-3" v-model="categoriaSeleccionada">
                <option value="">Todas las categorías</option>
                <option v-for="categoria in categorias" :key="categoria">{{ categoria }}</option>
            </select>
        </div>

        <div v-if="categoriaSeleccionada" class="text-center">
            <p class="alert alert-info">Mostrando productos de la categoría: <strong>{{ categoriaSeleccionada }}</strong></p>
        </div>

        <div class="progress" role="progressbar" aria-label="example with label" aria-valuemin="0" aria-valuemax="100">
            <div class="progress-bar" :style="{ width: porcentajeProgreso + '%' }" :class="color">
                {{ porcentajeProgreso }}%
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 mb-4" v-for="(producto, index) in productosFiltrados" :key="producto.id">
                <div class="card border-violeta">
                    <img :src="producto.thumbnail" class="card-img-top" :alt="producto.title" @click="verDetalle(producto)">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.title }}</h5>
                        <p class="card-text">Precio: ${{ producto.price }}</p>
                        <p class="card-text">categoria: {{producto.category}}</p>
                    </div>
                    <button class="btn btn-pink" @click="agregarAlCarrito(producto)">Agregar</button>
                </div>
            </div>
        </div>
    </section>
    <footer class="bg-violeta text-center text-white py-3">
        <p>&copy; 2024 KJMena - Todos los derechos reservados</p>
    </footer>

    <script src="js/vue3.js"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/funciones.js"></script>
</body>

</html>
